@handle_size: 12px;

.app {
  height: 100%;
  display: flex;
}

.left {
  padding-top: 20px;
  flex: 0 0 150px;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  align-items: center;
}


.canvas {
  position: relative;
  flex: 1;
  background: #eeeeee82;


  :global {
    .react-flow__handle {
      width: auto;
      height: auto;
      border: none;
      background: transparent;
    }

    // 修改Handle尺寸和层级
    .react-flow .react-flow__nodes div[class~="react-flow__handle"] {
      z-index: 10;
    }
  }
}

.edgeButtonContainer {
  background: transparent;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
}

.conditionLabelStyle {
  position: absolute;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background: #1890ff;
  padding: 2px 6px;
  border-radius: 4px;
}
